@model List< TheBackEndLayer.InViewModels.UserScoreViewModel>
<div class="col-xs-12 col-sm-12 col-md-10" id="actualList">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Score</th>
                <th>Handicap</th>
                <th>Date Played</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FName</td>
                    <td>@user.Gender</td>
                    <td>@user.Score</td>
                    <td>@user.Handicap</td>

                    <td>@user.Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-xs-12 col-sm-12 col-md-2">
    <div class="list-group">
        @Ajax.ActionLink("Filter By Male", "ScoresByMale", "Reports", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "reportList" }, new { @class = "list-group-item" })
        @Ajax.ActionLink("Filter By Female", "ScoresByFemale", "Reports", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "reportList" }, new { @class = "list-group-item" })
    </div>
</div>

    
