@model List<TheBackEndLayer.ViewModels.Applicants.AppRequestViewModel>
@{
    ViewBag.Title = "ApplicantRequests";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Applicant Requests</h2>
<br />
<table class="table table-bordered table-responsive bg-white table-hover m-t-25 standard-border" id="pageTable">
    <thead>
        <tr>
            <th>Member Name</th>
            <th>Status</th>
            <th>First Shareholder MemberID</th>
            <th>Second Shareholder MemberID</th>
            <th>Region</th>
            <th>Date Applied</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model)
        {
            <tr>
                <td>@applicant.FirstName @applicant.LastName</td>
                <td>@applicant.Status.ToString()</td>
                <td>@applicant.FirstShareHolder.MembershipID</td>
                <td>@applicant.SecondShareHolder.MembershipID</td>
                <td>@applicant.City , @applicant.Province</td>
                <td>@applicant.DateCreated.ToShortDateString()</td>
                <td><a href="/admintasks/application/@applicant.ID" class="btn btn-default"><i class="fa fa-reorder m-r-10"></i> Overview</a></td>
            </tr>
        }
    </tbody>
</table>


